# Python virtual environment
venv/

# Source code folder
src/

# Data folder
data/

# Task notebooks
Task-01_HousePrices_LinearRegression.ipynb

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Scripts and CSVs
main.py
submission.csv
