# Ignore Python virtual environment
venv/

# Ignore source code folder
src/

# Ignore data folder and specific files inside
data/
data/sample_submission.csv
data/test.csv
data/train.csv
data/data_description.txt

# Ignore task notebooks
task-01_housePrices_LinearRegression.ipynb

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor files
.vscode/
.idea/

# Ignore main script and submission CSV
main.py
submission.csv
